<!DOCTYPE html>

<head>
<title>Login</title>

<link rel="stylesheet" href="login.css">

</head>

<html>
    <body>
        <h1>Bright Education Portal</h1>
        <form method="#">    
            <div class="container">
                <div class="logo">
                    <img class="person" src="login-logo-2.jpg" alt="login-icon">
                </div>

                <div class="title-block">
                    <span class="title">User login</span>
                </div>
                
                <div class="input-field">
                    
                    <div class="user-name">
                        <img  src="person-fill.svg">
                        <input class="input" type="username" placeholder="email or mobile number" required>
                    </div>
            
                    <div class="password">
                        <img src="lock-fill.svg">
                        <input class="input" type="password" placeholder="password" required>
                    </div>

                    <div class="forgot-pw">
                        <a href="#">Forgot password ?</a>
                    </div>

                </div>

                <div class="sign-in">
                    <button type="submit"  >Sign in</button>  
                </div>
                
                <div class="sign-up">
                    <p>Not a member ?<a href="#"> Sign up now</a></p>
                </div>
            </div>
        </form>

        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </body>    
</html>