*{
    padding:0px;
    margin: 0px;
    box-sizing:border-box;
} 
html, body, div{
    margin:0;
    padding:0;
    border:0;
    outline:none;
}
.header-container{
    height: 75px;
    width:100%;
    /* background-color: rgb(0,0,0,0.1); */
    background-color: #0003;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    z-index: 100000;
    border-bottom: 1px solid#525353;
}
.logo-block{
    height: 60px;
    width:120px;
    /* background-color: blue; */
    margin-left: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
}
.text-wave{
    position: relative;
    -webkit-box-reflect: below -12px, linear-gradient(transparent, white);
}
.text-wave span{
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-family: consolas;
    font-size:20px;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-6px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}
.navbar-block{
    height: 60px;
    width:719.5px;
    /* background-color:rgb(255, 115, 0); */
    display: flex;
    align-items: center;
    margin-right:50px;
    
}
.navbar-block ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-inline-start: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
.navbar-block ul li{
    list-style: none;
}
.navbar-block a{
    /* background-color:blueviolet; */
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 29px 20.7px;
    transition: 0.3s;
    
} 

.navbar-block a:hover{
    background-color: rgb(220, 247, 102);
    color: black;
    transition: all ease-in-out 0.28s;
}
.banner .banner-image{
    height:100vh;
    width:100%;
}
.banner-image .banner-6{
    height:100vh;
    width:100%;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    -webkit-background-size: cover;
}
.banner .banner-overlay{
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    position:absolute;
    /* background: #0004; */
    z-index: 1;
    /* transform:translateY(-1100%);
    background-color: chartreuse;  */
    display:flex;
    justify-content:center;
    align-items: center; 
    color:white;
}

/* ............................... */

/* .expertise, .projects, .work-stacks, .contact{
    height:100vh;
    width:100%;
    background-color:red;
    border:1px solid black;
} */